# Node (NestJS)
cv-point-be/node_modules/
cv-point-be/dist/
cv-point-be/uploads/

# Python AI
ai-service/__pycache__/
ai-service/*.pkl
ai-service/*.joblib
ai-service/venv/
ai-service/sample_dataset.csv
ai-service/cv_scoring_model.pkl
ai-service/model_evaluation.png
# Env
.env
*/.env

# OS
.DS_Store