# Node (NestJS)
cv-point-be/node_modules/
cv-point-be/dist/

# Python AI
ai-service/__pycache__/
ai-service/*.pkl
ai-service/*.joblib
ai-service/venv/
ai-service/sample_dataset.csv
# Env
.env
*/.env

# OS
.DS_Store